- Picked into respective `stable` branches. [`Picked into Stable` <%= version.to_minor %> merged merge requests]:
  - [ ] REFERENCE_TO_MR_TO_PICK
- [ ] Check [`ce/<%= version.stable_branch %>` CHANGELOG][ce-stable-changelog]
- [ ] Check [`ee/<%= version.stable_branch(ee: true) %>` CHANGELOG-EE][ee-stable-changelog]
- [ ] Merge `ce/<%= version.stable_branch %>` into `ee/<%= version.stable_branch(ee: true) %>`
- [ ] Check [`omnibus-gitlab/<%= version.stable_branch %>` CHANGELOG][omnibus-stable-changelog]
- [ ] Check [`omnibus-gitlab/<%= version.stable_branch(ee: true) %>` CHANGELOG][omnibus-stable-ee-changelog]
- [ ] While waiting for tests to be green, now is a good time to start on the blog post: BLOG_POST_MR
- [ ] Ensure [tests are green on CE]
- [ ] Ensure [tests are green on EE]
- [ ] Check for any problematic migrations in EE (EE migrations include CE ones), and paste the diff in a snippet: `git diff <%= version.previous_tag(ee: true) %>..<%= version.stable_branch(ee: true) %> -- db/migrate` =>
- [ ] Tag the `<%= version.to_patch %>` version using the [`release` task]:

      ```sh
      bundle exec rake "release[<%= version.to_patch %>]"
      ```
- [ ] Add patch notice to [<%= regression_issue.title %>](<%= regression_issue.url %>):

      ```
      `<%= version %>` has been tagged, further fixes will go into `<%= version.next_patch %>` as necessary.
      ```
- [ ] Check that [EE packages are built], [CE packages are built] and appears on `packages.gitlab.com`: [EE](https://packages.gitlab.com/app/gitlab/gitlab-ee/search?q=<%= version.to_patch %>) / [CE](https://packages.gitlab.com/app/gitlab/gitlab-ce/search?q=<%= version.to_patch %>)
- [ ] In `#infrastructure`:

      ```
      I'm going to deploy `<%= version.to_patch %>` to staging
      ```
- [ ] Deploy [`<%= version %>`](https://packages.gitlab.com/gitlab/gitlab-ee/packages/ubuntu/xenial/gitlab-ee_<%= version %>-ee.0_amd64.deb) to [staging.gitlab.com]
- [ ] In `#infrastructure`:

      ```
      I'm going to deploy `<%= version.to_patch %>` to production
      ```
- [ ] Deploy [`<%= version %>`](https://packages.gitlab.com/gitlab/gitlab-ee/packages/ubuntu/xenial/gitlab-ee_<%= version %>-ee.0_amd64.deb) to [GitLab.com]
- [ ] Check that the `<%= version %>` version was automatically created on https://version.gitlab.com
- [ ] Deploy the blog post
- [ ] Tweet (prepare the Tweet text below or paste the tweet URL instead):

      ```
      GitLab <%= version %> is released! BLOG_POST_URL DESCRIPTION OF THE CHANGES
      ```
- [ ] Add [`ce/<%= version.tag %>` CHANGELOG][ce-tag-changelog] items to [`ce/master` CHANGELOG][ce-master-changelog]
- [ ] Add [`ee/<%= version.tag(ee: true) %>` CHANGELOG-EE][ee-tag-changelog] items to [`ee/master` CHANGELOG-EE][ee-master-changelog]
- [ ] Add [`omnibus-gitlab/<%= version.tag %>+ee.0` CHANGELOG][omnibus-tag-changelog] items to [`omnibus-gitlab/master` CHANGELOG][omnibus-master-changelog]
- [ ] Create the next patch issue (if needed) using the [`patch_issue` task] (and put a reference to it below):

      ```sh
      bundle exec rake "patch_issue[<%= version.next_patch %>]"
      ```

---

For references:
- https://dev.gitlab.org/gitlab/gitlab-ee/commits/<%= version.stable_branch(ee: true) %>
- https://dev.gitlab.org/gitlab/gitlabhq/commits/<%= version.stable_branch %>
- https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch(ee: true) %>
- https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch %>

[`Picked into Stable` <%= version.to_minor %> merged merge requests]: https://gitlab.com/groups/gitlab-org/merge_requests?label_name%5B%5D=Pick+into+Stable&milestone_title=<%= version.milestone_name %>&scope=all&sort=id_desc&state=merged

[ce-stable-changelog]: https://gitlab.com/gitlab-org/gitlab-ce/blob/<%= version.stable_branch %>/CHANGELOG
[ee-stable-changelog]: https://gitlab.com/gitlab-org/gitlab-ee/blob/<%= version.stable_branch(ee: true) %>/CHANGELOG-EE
[omnibus-stable-changelog]: https://gitlab.com/gitlab-org/omnibus-gitlab/blob/<%= version.stable_branch %>/CHANGELOG.md
[omnibus-stable-ee-changelog]: https://gitlab.com/gitlab-org/omnibus-gitlab/blob/<%= version.stable_branch(ee: true) %>/CHANGELOG.md

[tests are green on CE]: https://dev.gitlab.org/gitlab/gitlabhq/commits/<%= version.stable_branch %>
[tests are green on EE]: https://dev.gitlab.org/gitlab/gitlab-ee/commits/<%= version.stable_branch(ee: true) %>
[EE packages are built]: https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/8-10-stable-ee
[CE packages are built]: https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/8-10-stable

[ce-tag-changelog]: https://gitlab.com/gitlab-org/gitlab-ce/blob/<%= version.tag %>/CHANGELOG
[ee-tag-changelog]: https://gitlab.com/gitlab-org/gitlab-ee/blob/<%= version.tag(ee: true) %>/CHANGELOG-EE
[omnibus-tag-changelog]: https://gitlab.com/gitlab-org/omnibus-gitlab/blob/<%= version.tag %>+ee.0/CHANGELOG.md

[ce-master-changelog]: https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG
[ee-master-changelog]: https://gitlab.com/gitlab-org/gitlab-ee/blob/master/CHANGELOG-EE
[omnibus-master-changelog]: https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/CHANGELOG.md

[EE packages are built]: https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch(ee: true) %>
[CE packages are built]: https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch %>

[`gitlab/gitlab-ee`]: https://packages.gitlab.com/gitlab/gitlab-ee
[`gitlab/gitlab-ce`]: https://packages.gitlab.com/gitlab/gitlab-ce

[`release` task]: https://gitlab.com/gitlab-org/release-tools/blob/master/doc%2Frake-tasks.md#releaseversion
[`patch_issue` task]: https://gitlab.com/gitlab-org/release-tools/blob/master/doc%2Frake-tasks.md#patch_issueversion

[staging.gitlab.com]: https://dev.gitlab.org/cookbooks/chef-repo/blob/master/doc/staging.md
[GitLab.com]: https://dev.gitlab.org/cookbooks/chef-repo/blob/master/doc/deploying.md
